<html>
	<head>
		<title>点度后台管理</title>
		<include file="Common:head"/>
		<style>
			.detail-control { margin-top: 5px; }
			.detail-control .detail-add { width: 50%; margin-right: 10px; }
			.member-entry { margin-top: 5px; display: inline-block; width: 100%; }
			.member-entry input { width: 27%; margin-right: 3.33%; }
		</style>
		<style>
			.menu-create-entry { margin-bottom: 25px; }
			.menu-create-entry .title { border-left: 5px solid #aaa; padding-left: 5px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }

			.current-menu-entry { transition: all 0.3s ease-in-out; padding: 5px 0; box-sizing: border-box; }
			.current-menu-entry p { font-size: 14px; }
			.current-menu-entry .right span a { padding: 0 5px; display: inline-block; }
			.current-menu-entry:hover { background: #ddd; }
			.current-menu-entry:last-child { margin-bottom: 10px; }

			.photo-ctn { margin-top: 0; }
		</style>
	</head>
	<body>
		<div class="wrapper admin">
			<include file="Common:alert"/>
			<include file="Common:adminHeader"/>
			<div class="middle-content">
				<include file="Common:adminSidebar"/>
				<div class="content pull-right">
					<div class="information">
						<h1 class="headline text-center bold">代售二手车 - <span class="h1-small">详情</span></h1>
						<?php 
							$Dao = A('Admin');
							$viewId = $_GET['pageId'];

							$result = $Dao -> carSelectById($viewId);
							$result = $result[0];

							$cityId = $result['city_id'];

							//图片数组
							$imagesArr = explode(' | ', $result['images']);
						 ?>

						<!-- 图片添加form -->
						<form class="imageAddSubmit" style="display: none;" enctype="multipart/form-data" role="form" action="{:U('Admin/carImageAdd', array('id' => $result['id']))}" method="POST">
							<input name="photo" id="image" type="file" class="form-control" placeholder="图片" autocomplete="off">
						</form>

						<!-- 图片删除form -->
						<form class="imageDeleteSubmit" style="display: none;" enctype="multipart/form-data" role="form" action="{:U('Admin/carImageDelete', array('id' => $result['id']))}" method="POST">
							<input name="imageDeleteId" type="text" class="form-control" value="<?php echo $result['id']; ?>" autocomplete="off">
							<input name="imageDeleteUrl" type="text">
						</form>

						<!-- 图片编辑form -->
						<form class="imageEditSubmit" style="display: none;" enctype="multipart/form-data" role="form" action="{:U('Admin/carImageEdit', array('id' => $result['id']))}" method="POST">
							<input id="imageEditId" name="imageEditId" type="file" class="form-control" placeholder="图片" value="<?php echo $result['id']; ?>aaa" autocomplete="off">
							<input name="imageEditUrl" type="text">
						</form>

						<!-- 车辆信息form -->
						<form class="form-horizontal" enctype="multipart/form-data" role="form" action="{:U('Admin/carUpdate', array('id' => $result['id']))}" method="POST">
							<input style="display: none;" type="text" name="viewId" value="<?php echo $viewId; ?>">
							<div class="submit-ctn mg-top">
								<div class="left pull-left">
									<div class="form-group">
										<label class="col-sm-2 control-label" for="publish_time"><p>时间</p></label>
										<div class="col-sm-10">
											<input name="publish_time" id="publish_time" type="text" readonly="readonly" class="form-control" placeholder="上牌时间" autocomplete="off" required value="<?php echo date('Y-m-d',$data['buy_time']); ?>">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" for="publish_time"><p>标题</p></label>
										<div class="col-sm-10">
											<input name="publish_time" id="publish_time" type="text" readonly="readonly" class="form-control" placeholder="标题" autocomplete="off" required value="<?php echo $data['title']; ?>">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" for="publish_time"><p>手机</p></label>
										<div class="col-sm-10">
											<input name="publish_time" id="publish_time" type="text" readonly="readonly" class="form-control" placeholder="用户手机" autocomplete="off" required value="<?php echo $data['user_phone']; ?>">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" for="publish_time"><p>名称</p></label>
										<div class="col-sm-10">
											<input name="publish_time" id="publish_time" type="text" readonly="readonly" class="form-control" placeholder="用户名称" autocomplete="off" required value="<?php echo $data['user_name']; ?>">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" for="publish_time"><p>品牌</p></label>
										<div class="col-sm-10">
											<input name="publish_time" id="publish_time" type="text" readonly="readonly" class="form-control" placeholder="品牌" autocomplete="off" required value="<?php echo $data['brand_id']; ?>">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="publish_time"><p>价格</p></label>
										<div class="col-sm-10">
											<input name="publish_time" id="publish_time" type="text" readonly="readonly" class="form-control" placeholder="价格" autocomplete="off" required value="<?php echo $data['price']; ?>">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="publish_time"><p>排量</p></label>
										<div class="col-sm-10">
											<input name="publish_time" id="publish_time" type="text" readonly="readonly" class="form-control" placeholder="排量" autocomplete="off" required value="<?php echo $data['output']; ?>">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="publish_time"><p>颜色</p></label>
										<div class="col-sm-10">
											<input name="publish_time" id="publish_time" type="text" readonly="readonly" class="form-control" placeholder="颜色" autocomplete="off" required value="<?php echo $data['color']; ?>">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="publish_time"><p>里程数</p></label>
										<div class="col-sm-10">
											<input name="publish_time" id="publish_time" type="text" readonly="readonly" class="form-control" placeholder="里程数" autocomplete="off" required value="<?php echo $data['mileage']; ?>">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="publish_time"><p>变速箱</p></label>
										<div class="col-sm-10">
											<input name="publish_time" id="publish_time" type="text" readonly="readonly" class="form-control" placeholder="变速箱" autocomplete="off" required value="<?php echo $data['gear_box']; ?>">
										</div>
									</div>


								</div>

								<div class="right pull-right">
									<div class="form-group">
										<label class="col-sm-2 control-label" for="color"><p>保养情况</p></label>
										<div class="col-sm-10">
											<input type='textarea' name="color" id="color" type="text" readonly="readonly" class="form-control allow" placeholder="保养情况" autocomplete="off" required value="<?php echo $data['situation']; ?>">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="situation"><p>厂家</p></label>
										<div class="col-sm-10">
											<input name="situation" id="situation" type="text" readonly="readonly" class="form-control allow" placeholder="厂家" autocomplete="off" required value="<?php echo $data['factory']; ?>">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="factory"><p>配置亮点</p></label>
										<div class="col-sm-10">
											<textarea name="factory" id="factory" type="text" readonly="readonly" class="form-control allow" placeholder="配置亮点" autocomplete="off" required value="<?php echo $data['factory']; ?>"></textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="image"><p>图片</p></label>
										<div class="col-sm-10">
											
										</div>
										<div class="col-sm-10 pull-right">
											<div class="image-control-ctn">
												<?php 
													foreach($imagesArr as $key => $val):
												 ?>
												 	<div class="image-control inblk relative">
												 		<img style="width: 120px; height: 120px;" class="photo-ctn mg-top" src="<?php echo $data['car_img']?>" alt="">
												 		<!--<div class="image-control-handle">
												 			<div class="cus-table">
												 				<div class="cus-table-cell">
												 					<div class="entry">
												 						<p class="btn-image-edit" data-url="<?php echo $val; ?>" title="编辑"><i class="icon-edit"></i></p>
												 					</div>
												 					<div class="entry">
												 						<p class="btn-image-delete" data-url="<?php echo $val; ?>" title="删除"><i class="icon-trash"></i> </p>
												 					</div>
												 				</div>
												 			</div>
												 		</div>-->
												 	</div>
												<?php endforeach; ?>
											</div>
											<!--<div class="image-control-add active" title="添加图片"><p>+</p></div>-->
										</div>
									</div>
								</div>
							</div>
							<div class="btn-ctn width-all text-center mg-top">
								<!--<button type="button" class="btn btn-primary btn-edit" href="#"><p>编辑</p></button>-->
								<button type="submit" class="btn btn-primary btn-save none" disabled href="#"><p>保存</p></button>
								<a class="btn btn-default" href="{:U('Usedcar/tousedCar', array('pageName' => 'car'))}"><p>返回</p></a>
							</div>
						</form>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="jagoFancybox">
			<div class="cus-table">
				<div class="cus-table-cell">
					
				</div>
			</div>
		</div>

		<script>
		(function ($) {
			$(function() {
				cityAdd();

				//car----------------------------------------------------------------------
				//选择品牌
				$('select.brandSelect').on('change', function() {
					var brand_id = $(this).val();
					$.ajax({
						url: '{:U("Admin/carStyleSelectByIdAjaxReturn")}',
						type: 'POST',
						data: {brand_id: brand_id}
					}).done(function(res) {
						if (res) {
							$('select.styleSelect').html('');
							res.forEach(function($val, $key) {
								$('select.styleSelect').append(
									'<option value="'+ $val.id +'">'+ $val.name +'</option>'
								);
							});
						}
					});
				});

				//点击图片添加
				$('.image-control-add').on('click', function() {
					var length = $('.image-control-ctn >div').length;
					if (length >= 6) {
						cusAlert('warning', '最多只能上传6张图片!');
					}else {
						$('#image').click();
					}
				});

				//图片上传
				$('#image').on('change', function() {
					$('.imageAddSubmit').submit();
				});

				//图片删除
				$('.btn-image-delete').on('click', function() {
					var length = $('.image-control-ctn >div').length;
					if (length <= 1) {
						cusAlert('warning', '至少要有一张图片!');
					}else {
						var imageDeleteUrl = $(this).data('url');
						$('input[name="imageDeleteUrl"]').val(imageDeleteUrl);
						$('.imageDeleteSubmit').submit();
					}
				});

				//图片编辑
				$('.btn-image-edit').on('click', function() {
					var imageEditUrl = $(this).data('url');
					$('input[name="imageEditUrl"]').val(imageEditUrl);
					$('#imageEditId').click();
				});
				$('#imageEditId').on('change',function() {
					$('.imageEditSubmit').submit();
				});

				$('.btn-ctn .btn-edit').on('click', function() {
					//打开输入框
					$('.form-horizontal input.allow,.form-horizontal textarea.allow,.form-horizontal select.allow').removeAttr('readonly');
					$('.form-horizontal input.allow,.form-horizontal textarea.allow,.form-horizontal select.allow').removeAttr('disabled');

					//按钮更换
					$(this).addClass('none');
					$(this).next('.btn-save').removeClass('none');
					$(this).next('.btn-save').removeAttr('disabled');

					return false;
				});

				function cityAdd(){
					var id = '530000';
					$.ajax({
						url: '{:U("Wechat/txCityAreaSelect")}',
						type: 'POST',
						data: {id: id}
					}).done(function(res) {
						// res = res.result; 
						res = jQuery.parseJSON(res); 
						res = res.result[0];	//城市 结果集
						$('.tx-city').html('');

						var selected = '';
						res.forEach(function(val,key) {
							if (val.id == <?php echo $cityId; ?>) {
								selected = 'selected';
							}else {
								selected = '';
							}
							$('.tx-city').append(
								'<option '+ selected +' value="'+ val.id +' '+ val.fullname +'">'+ val.fullname +'</option>'
							);
						});
					});
				}
			});
		})(jQuery);
		</script>
	</body>
</html>